*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gillroy;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding: 1px;

}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  
}
#nav h1{
   
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monument;
    font-size: 40px;
    letter-spacing: -1px;  

}
#nav h2 {
    
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:solid black 2px ;
    font-size: 26px;
    font-weight: 600;
}
#nav h2:nth-last-child(2){
    width: 29%;}

#nav h2:nth-last-child(1){
    width: 10%; 
}
#center{
    height: 85vh;
    width: 100%;
   
    padding: 4vw;
    position: relative;

}
#content{
    height: 100%;
    width: 100%;
    background-color: red;
    position: relative;

}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
#overlay{
   
    height: 45%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 2vw;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.301);
    backdrop-filter: blur(10px);
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 2vh;
    flex-wrap: wrap;

}
#over1 h1{
    font-family: monument;
    font-size: 3.5vw;
}
#over1 h2{
    padding: 2vw ;
    border-radius: 50%;
    border: 2px white solid;
    


}
#over2{
    display: flex;
    align-items: center;
    padding: 2vh;
    justify-content: space-between;
    color: white;
    border-top: solid 2px white;
    flex-wrap: wrap;
} 